<mat-nav-list>
  <div class="logo py-2">
    <h3 class="custom_logo"><b>GYM</b> Ops</h3>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-3">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <span class="side_nav_btn"><mat-icon>home</mat-icon> <p class="btn_text">Home</p></span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <span class="side_nav_btn"><mat-icon>dashboard</mat-icon> <p class="btn_text">Dashboard</p></span>
    </a>
  </div>
</mat-nav-list>
